<!DOCTYPE html>
<html>
  <head>
    <title>Welp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if logged_in? %>
      <script type='text/javascript'>
        window.currentUser = <%= render(
            "/api/users/user.json.jbuilder",
            user: current_user
        ).html_safe %>
      </script>
    <% end %>
    <script type="text/javascript">
      window.logo = "<%= image_url('Yelp-Logo.png') %>";
      window.star0 = "<%= image_url('0star.jpg') %>";
      window.star1 = "<%= image_url('1star.jpg') %>";
      window.star2 = "<%= image_url('2star.jpg') %>";
      window.star3 = "<%= image_url('3star.jpg') %>";
      window.star4 = "<%= image_url('4star.jpg') %>";
      window.star5 = "<%= image_url('5star.jpg') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
